<div class="card mb-4 h-100">
    <div class="card-header justify-content-between align-items-center d-flex">
        <h6 class="card-title m-0">Monthly conversion rates</h6>
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle dropdown-toggle-icon fw-bold p-0" type="button"
                id="dropDownConversions" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ri-more-2-line"></i>
            </button>
            <ul class="dropdown-menu dropdown" aria-labelledby="dropDownConversions">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-5">
            <div class="d-flex align-items-center">
                <h4 class="fs-3 fw-bold mb-0 me-3">55%</h4>
                <span class="badge bg-success-faded text-success">+ 23%</span>
            </div>
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <span class="dot dot-xs bg-primary me-2"></span>
                    <span class="small text-muted">2021</span>
                </div>
                <div class="d-flex align-items-center ms-4">
                    <span class="dot dot-xs bg-light me-2"></span>
                    <span class="small text-muted">2020</span>
                </div>
            </div>
        </div>
        <div class="chart">
            <div class="chart chart-lg">
                <canvas id="chartYearlyIncome"></canvas>
            </div>
        </div>
    </div>
</div>